////////////////////
// LAYOUT
////////////////////

////////////////////
// BREAKPOINTS
////////////////////

$gl-screen-xs: 375px;
$gl-screen-sm: 576px;
$gl-screen-md: 768px; 
$gl-screen-lg: 992px;
$gl-screen-xl: 1200px;
$gl-screen-xxl: 1440px;
$gl-screen-xxxl: 1920px;