@font-face {
    font-family: "neue_helveticabold";
    src: url("../../../resources/fonts/helvetica_neue_lt_75_bold-webfont.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "neue_helveticalight";
    src: url("../../../resources/fonts/helvetica_neue_lt_45_light-webfont.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "neue_helveticamedium";
    src: url("../../../resources/fonts/helvetica_neue_lt_65_medium-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }