////////////////////
// RAW
////////////////////
$gl-spacing-200: 200px; //unconfirmed
$gl-spacing-190: 190px;
$gl-spacing-150: 150px;
$gl-spacing-140: 140px; //unconfirmed
$gl-spacing-130: 130px;
$gl-spacing-120: 120px;
$gl-spacing-110: 110px;
$gl-spacing-100: 100px; //unconfirmed
$gl-spacing-90: 90px;
$gl-spacing-80: 80px; //unconfirmed
$gl-spacing-70: 70px;
$gl-spacing-65: 65px; //unconfirmed
$gl-spacing-60: 60px;
$gl-spacing-50: 50px;
$gl-spacing-45: 45px; //unconfirmed
$gl-spacing-40: 40px;
$gl-spacing-35: 35px;
$gl-spacing-30: 30px;
$gl-spacing-25: 25px;
$gl-spacing-20: 20px;
$gl-spacing-15: 15px;
$gl-spacing-10: 10px;
$gl-spacing-5: 5px; // unconfirmed
$gl-spacing-3: 3px;
$gl-spacing-2: 2px;
////////////////////
// ASSIGN
////////////////////