.social__icon{
    height: 1.8em;
    width: 1.8em;
    line-height: 1.8em;
    font-size: 1.3em;
    border: 1px solid #fff;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
}