@import 'scss/footer.scss';
@import 'scss/social-icon.scss';
.bottom_ftr{
    display: block;
    background-size: cover;
    width: 100%;
    height: 1em;
    background-image: url('https://www.guardianlink.io/product-hotspot/images/footer_border.png');
    background-repeat: no-repeat;
    background-repeat: repeat-y;
    box-sizing: border-box;
    *, ::after, ::before {
        box-sizing: border-box;
    }
}