.nav{
	&__link{

		@extend %gl-font-p1;
		color: $gl-white;
		text-decoration: none;
		&:hover{
			color: $gl-orange_red;
		}
				
	}
	&__link-btn{
		@extend %gl-font-p1;
		background-color: $gl-orange_red;
		border: 1px solid $gl-orange_red;
		border-radius: 10px ;
		padding: $gl-spacing-15;
		text-decoration: none;
		&:hover{
			background-color: $gl-white;
			color: $gl-orange_red;
		}
	}
	&__sub-menu{
		position: relative;
		.has-menu{
			@media (min-width: $gl-screen-lg) {
			&::after{
				content: "";
				border: solid $gl-white;
				border-width: 0 2px 2px 0;
				display: inline-block;
				padding: 4px;
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				margin-left: 0.8em;
				margin-top: 3px;
				vertical-align: top;
			}
		}
		}
		.submenu__items{
			padding: 1em 1em 0 1em;
			li{
				margin-bottom: 15px;
				a{
					font-size: 14px;
					&::before{
						content: "";
						width: 0;
						height: 0;
						border-top: 8px solid transparent;
						border-bottom: 8px solid transparent;
						border-left: 8px solid #0000006b;
						display: inline-block;
						vertical-align: middle;
						margin-right: 8px;
						margin-top: -4px;
					}
				}
			}
			@media (min-width: $gl-screen-lg) {
				display: none;
				position: absolute;
				background: $gl-Iridium ;
				z-index: 1;
				width: 15em;
				right: 0;
				top: 1.5em;
				border-radius: 10px;
				padding: 0.8em;
				border: 0px solid $gl-davy_grey;
				li{
					a{
						font-size: 18px;
						&::before{
							content: none;
						}
					}
				}
			  }
		}
		&:hover{
			.submenu__items{
				display: block;
			}
		}
	}
	.nav__link a {
		color: #fff !important;
	}
}